extends layout

block content
    h1 Authorization
    form(action="/auth/register" method="POST")
        label(for="register-username") Enter username:
        input(type="text" name="username" id="register-username" required)
        button(type="submit") Register
    hr
    form(action="/auth/login" method="POST")
        label(for="login-username") Enter username:
        input(type="text" name="username" id="login-username" required)
        button(type="submit") Login