extends layout

block content
    h1 Settings
    form(action="/settings/set-theme" method="POST")
        label(for="theme") Choose a theme:
        select(name="theme", id="theme")
            option(value="light" selected=theme === 'light') Light theme
            option(value="dark" selected=theme === 'dark') Dark theme
        button(type="submit") Save